.videolist{
	display: inline-block;
	width: 35%;
	padding-left: 3rem; 
}
@media screen and (max-width: 650px){
	.videolist{
		display: flex;
		flex-wrap: wrap;
		padding-right: 0rem;
		width: 100%;
		padding-left: 0rem;
		justify-content: space-between;
	}
}